
  


nav{
    display: flex;
    flex-direction: row;
    background-color: black;
}
.navbar-nav{
    display: flex;
    flex-direction: row;

}
.Page{
    padding-left: 10px;
}
a{
    text-decoration: none;
}
